body {
  margin: 0;
  padding: 0;
}

.login-pg-container {
  display: flex;
  height: 100vh;
}

.left {
  width: 70%;
  height: 100%;
}

.right {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30%;
  height: 100%;
  border: 1px solid black;
}

.login-container {
  width: 70%;
}

.input-label {
  display: block;
  margin-bottom: 5px;
}

.input-box {
  width: 80%;
  height: 2rem;
  margin-bottom: 10px;
}

.login-btn {
  display: block;
  height: 2rem;
}
